.parallax{
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 300px;
	font-size: 30px;
}

.parallax-group{
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
}

.parallax-layer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 100vh 0;
}

/*1 + (translateZ * -1) / perspective */

.parallax-base-layer{
	transform: translateZ(0);
	z-index: 4;
	}

.parallax-background-layer{
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}

.parallax-front-layer{
	transform: translateZ(90px) scale(.7);
}

.holder-text{
	position: absolute;
	left: 50%;
	top: 50%;
}

#group1 .parallax-base-layer{
	background: blue;
}

#group2 .parallax-background-layer{
	background: red;
}

#group3 .parallax-front-layer{
	background: yellow;
}















